// .box {
//   margin-bottom: 1rem; /* Odstęp od tytułu */
// }

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Dowolna wysokość, aby umieścić loader na środku ekranu */
}

.basket-info {
  margin-bottom: 10px;
}

.checkout-btn-container {
  margin-top: 20px;
}
