.loginBox {
  margin-top: 3rem;
}

.field {
  width: 400px;
}

.control {
  position: relative;
}

.emailVerification {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
