.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.products {
  margin-top: 1rem;
}
.dashboard {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  padding: 1rem;
}
.pagination {
  background-color: #f5f5f5;
  padding: 0.5rem;
  position: fixed;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
