/* styles.scss */

.sidebar {
  background-color: #f4f4f4; /* Zmiana koloru tła Sidebaru */
  padding: 20px;
}

.sidebar-divider {
  border-top: 1px solid #ddd; /* Dodanie cienkiej linii oddzielającej */
  border-right: 1px solid #ddd;
  margin: 10px 0; /* Dodanie odstępu dla estetyki */
}
