.registerBox {
  margin-top: 10rem;
  display: flex;
}

.field {
  width: 400px;
}
.notification {
  margin-left: 5rem;
  height: 10rem;
  width: 100rem;
  text-align: center;
}
.notification button {
  margin-top: 1rem;
}
.button {
  margin-top: 1rem;
}
