.productPage {
  margin-top: 3rem;
  min-height: 30rem;
}

.price {
  font-weight: bold;
}
.basket {
  margin-top: 1rem;
}
.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
